nav {
  margin-bottom: 20px;

  ul {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.margin-vert-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.padding-10 {
  padding: 10px;
}

.padding-vert-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-horizontal-0 {
  margin-left: 0;
  margin-right: 0;
}
