<script id="template-upload" type="text/x-tmpl">
<div id="upload_{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
</div>
</script>